<div class="square-outer" *ngIf="grid">
  <div class="square">
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
    <div class="square__small"></div>
  </div>
</div>

<div class="square-outer" *ngIf="!grid">
  <div class="square">
    <div class="square__small"></div>
    <div class="square__large"></div>
    <div class="square__small"></div>
    <div class="square__large"></div>
    <div class="square__small"></div>
    <div class="square__large"></div>
  </div>
</div>
