<div class="modal" id="exampleModalCenter">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header modal-custom-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add new recipe</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form class="modal-body" #recipeForm="ngForm">
        <input
          type="text"
          id="title"
          name="title"
          placeholder="recipe title"
          class="form-control input-section"
          [(ngModel)]="recipe.title"
          #titles="ngModel"
          required
        />
        <div [hidden]="!titles?.touched || titles?.valid" class="text-danger">
          Please enter recipe title
        </div>
        <input
          type="text"
          id="source"
          name="source"
          placeholder="recipe source"
          class="form-control input-section"
          [(ngModel)]="recipe.source"
          #sources="ngModel"
          required
        />
        <div [hidden]="!sources?.touched || sources?.valid" class="text-danger">
          Please enter recipe source
        </div>
        <input
          type="text"
          id="image"
          name="image"
          placeholder="recipe picture"
          class="form-control input-section"
          [(ngModel)]="recipe.image"
          #imageUrl="ngModel"
          required
        />
        <div
          [hidden]="!imageUrl?.touched || imageUrl?.valid"
          class="text-danger"
        >
          Please enter recipe image Url
        </div>
        <input
          type="text"
          id="ingredients"
          name="ingredients"
          placeholder="enter ingredients, separated by a comma"
          class="form-control input-section"
          [(ngModel)]="recipe.ingredients"
          #ingredient="ngModel"
          required
        />
        <div
          [hidden]="!ingredient?.touched || ingredient?.valid"
          class="text-danger"
        >
          Please enter recipe ingredients
        </div>
        <button
          type="submit"
          class="btn btn-primary custom-button"
          (click)="addRecipe(recipeForm)"
        >
          Add
        </button>
      </form>
      <button
        type="submit"
        class="close"
        data-dismiss="modal"
        aria-label="Close"
        #modalClose
      ></button>
    </div>
  </div>
</div>
